# Getting started with Python

## Python as a calculator

Even if you don't know any Python, you can start to use it as a calculator!

Example: Convert from inches to cm

In [2]:
12 * 2.54

30.48

Example: Converting from Celcius to Fahrenheit

In [3]:
37.5 * 9 / 5 + 32

99.5

Python respects the standard arithematic [operator precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence) as you would expect:

In [10]:
50 - (4 * 7 / 2 + 6) * 2

10.0

One catch is that you would need to use `**` (and not `^`) to do exponentiation:

In [17]:
5 ** 2

25

#### Exercise 1

Compute how many pounds are in 12 kg. (Hint: 1 lb ~ 0.45 kg)

#### Exercise 2

Compute the average of the following values: 7.4, 11.9, 6.8

#### Exercise 3

Compute the sample variance of the following values: 7.4, 11.9, 6.8

Hint: sample variance $\sigma^2$ is 

$$
\sigma^2 = \frac{1}{N-1} \sum_{i=1}^N(x_i - \mu)^2
$$

where $N$ is the number of samples, $x_i$ is the $i^\text{th}$ sample, and $\mu$ is the mean (average) of the samples.

#### Exercise 4

Repeat challenge 2 and 3 for values: -5, 12, 7

## Storing values into variables

When you start to work with more (complex) computations, the same value may need to be used multiple times, and you wouldn't want to type them in everytime. In particular, this is inefficient if you want to change the value and recompute!

You can save a lot of time by storing important values into **variables** - a piece of computer memory that can hold a value under a name of your choice!

You create a new variable by picking a *variable name* and **assigning** a value to it with the `=` (assignment) operator

In [16]:
x = 100.0

This has successfully created a new variable called `celsius`!

You can check the variable's content by simply typing in the variable name

In [15]:
x

100.0

You can use variables in place of the value it holds:

In [18]:
x**2 - 5 * x + 10

9510.0

Let's use variables to store a few values, and then compute their mean and variance

In [34]:
a = 10
b = -8
c = 9

(a + b + c) / 3

3.6666666666666665

To compute the variance, let's go ahead and store the computed mean into a variable called `mean` as well!

In [20]:
# compute the mean
mean = (a + b + c) / 3

Notice that I have now added a **comment** to my code. In Python, anything that follows a hash symbol (`#`) until the end of the line is considered to be a comment and would not affect the computation. Rather it is there for others and yourself to explain what you are doing in your code.

In [35]:
# compute variance
var = ((a - mean)**2 + (b - mean)**2 + (c - mean)**2) / 2

In [36]:
var

102.33333333333333

Go ahead and change the values of the cell defining variables `a`, `b`, and `c`, and run the cells to compute the new mean and variance. Do you now see how variables can save you from repetetive typing?

## Printing messages

As your computation gains complexity, you would want to start printing out messages and results of your computation. You can easily do so using the `print` Python function:

In [23]:
print("Hello World!")

Hello World!

Values surrounded by quotes `'` and double quotes `"` are called **strings** and are used for printing a _string of characters_ as in the case of `"Hello World"`

Print can also be used to print out numbers

In [24]:
print(100.5)

100.5

You can also put **expressions** inside the `print`:

In [25]:
print(100 + 10 + 1)

111

You can print multiple things side by side

In [30]:
print("Height", 189, "Age", 30)

Height 189 Age 30

And of course, you can print out variables

In [31]:
x = 100
print("x=", x)

x= 100

### Printing out results of your computation

Armed with `print`, you can report the results of your computation a bit more nicely.

In [33]:
a = 10
b = -8
c = 9

# compute mean
print("Computing mean...")
mean = (a + b + c) / 3

# compute variance
print("Computing variance...")
var = ((a - mean)**2 + (b - mean)**2 + (c - mean)**2) / 2

print("mean=", mean)
print("variance=", var)

Computing mean...
Computing variance...
mean= 3.6666666666666665
variance= 102.33333333333333

## More about strings

### Formatting strings

While you can use `print` to print some text (string) side-by-side with numbers (say as stored in variables), you may not get it in the exact format you want.

For that you can **format a string** using `format` call onto the string as follows:

In [39]:
x = 123.45678

print('The value of x = {}'.format(x))

The value of x = 123.45678

In [40]:
a = 10
b = 30
total = a + b
print('a={}, b={}, and a+b={}'.format(a, b, total))

a=10, b=30, and a+b=40

We say that the values of the variables were **interpolated** into the string.

Format provides you with special syntax that let's you control how the variable values are modified before getting interpolated into the string. For example, you might want to limit how many digits are shown to the right of the decimal point:

In [44]:
x = 123.456789
print('The value is {:.2f}'.format(x))

The value is 123.46

The formatting specification starts with `:` and here `.2f` means show up to two decimal places.

### Operations on Strings

Just like you can perform operations on numbers, it turns out that you can perform some operations on strings!

In [45]:
"Hello " + "World"

'HelloWorld'

In [47]:
"Hello! " * 5

'Hello! Hello! Hello! Hello! Hello! '

In [48]:
"Hello " - "ello"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Storing String Values in Variables

Just like numbers, you can store any string value into a variable:

In [50]:
message = "Hello World"

You can combine string formatting and operations to construct more complex string values out of simpler strings and numbers:

In [57]:
first_name = "Edgar"
last_name = "Walker"

full_name = first_name + " " + last_name

greeting = "Hello! My name is {}!".format(full_name)

In [59]:
print(greeting)

Hello! My name is Edgar Walker!

#### Exercise 5

Store your first name, last name, and favorite food into separate variables (give each a meaningful name!) Now construct a single string that introduces your full name and your favorite food. Finally, printout your string for the world to see!

## Python data types

Thus far, we have encountered a few **data types** in Python. Data type of a value specifies the expected meaning and operations that are allowed on the value.

In [60]:
type(10)

int

In [61]:
type(1.053)

float

In [62]:
type('hello!')

str

For each of these types, the written out values are called the **literals**:

In [66]:
# integer literal
118

118

In [67]:
# float literal
5.79

5.79

In [69]:
# string literal
"testing"

'testing'

We often refer to the type of the value stored in a variable as the **type of the variable**

In [63]:
x = 10
type(x)

int

However, in Python, a variable can take in values of any type, regardless of what was assigned to it previously.

In [75]:
x = 10
print('x stores {}'.format(type(x)))

x = 'hello'
print('x now stores {}'.format(type(x)))

x stores <class 'int'>
x now stores <class 'str'>

We will get back to what exactly the term `class` means here, later in the course.

There are far more than `int`, `float` and `str` data types in Python, and we'll cover more as we encounter them.

## Storage of simple data types

Before we move on, let's take a look what happens when two or more variables "share" data:

In [109]:
a = 10
b = a

print('a = {}, b = {}'.format(a, b))

a = 10, b = 10

Now what happens if I change the value of `b`?

In [110]:
b = 15

print('a = {}, b = {}'.format(a, b))

a = 10, b = 15

For simple data types like `int`, `float`, and `str`, when two (or more) variables (e.g. `a` and `b`) are set to each other, the **values are copied, but the storage is not shared**.

# Data Structures

While simple data types like `int` and `str` are suitable for representing a single value at a time, we often want to group multiple values together into some sort of a **data strcuture**. Python comes with a few built-in **structured data types** that let's you organize your data better.

## Lists

Especially in scientific computing, you often encounter a sequence of values - e.g. time series of spike rates, or behavioral responses from multiple mice. You could imagine storing each value into a separate variable:

In [77]:
# e.g. drug responses
day1 = 10.5
day2 = 30.2
day3 = 50.8

but this soon results in an overwhelming number of variables that becomes hard to manage. Instead, you can construct **a list of values**

In [78]:
responses = [10.5, 30.2, 50.8]

In [79]:
responses

[10.5, 30.2, 50.8]

In [80]:
type(responses)

list

## Indexing into the list

A list lets you keep multiple values together in one variable, and maintains the order. You can access an element or **index into** the list using `[]` syntax:

In [81]:
# gets the value at index 0
responses[0]

10.5

In [82]:
responses[1]

30.2

In [83]:
responses[2]

50.8

Note that in Python, **index starts at 0**!!

You can also index from the end using negative numbers:

In [84]:
# get the last element
responses[-1]

50.8

In [86]:
# get the second to last element
responses[-2]

30.2

What happens if you try to access index beyond the total number of elements?

In [87]:
responses[3]

IndexError: list index out of range

You can find out the total number of elements using `len()` function:

In [88]:
len(responses)

3

### Adding elements

We saw that we can create a list with values inside using `[val1, val2, val3]` syntax. We could also just start with an empty list, and **append** values to it.

In [89]:
dogs = [] # start with an empty list

# append values one at a time
dogs.append('Dobermann')
dogs.append('Siberian Husky')
dogs.append('Pug')

print(dogs)

['Dobermann', 'Siberian Husky', 'Pug']

#### Exercise 6

Add two more types items into the above list. If you insist, you can instead create an new list for a category of your choice and add at least three elements into it.

### Mixed types

You may be surprised to find out that Python's list is a mixed type list - that is, a list can contain any mixture of data types.

In [93]:
mixed_list = [10, 'Apple', 105.212]
print(mixed_list)

[10, 'Apple', 105.212]

### Modifying a list

A very important property of a list is its **mutability**. This is best illustrated by an example.

In [90]:
# a list with three elements
values = ['A', 'B', 'C']
print(values)

['A', 'B', 'C']

You can now change an element of the list **in-place**:

In [91]:
values[1] = 'X'

In [92]:
print(values)

['A', 'X', 'C']

## Slicing a list

In Python, you can easily **slice** a list to create a new list that contains a subset of the elements. The syntax follows `list[start:stop:skip]`

In [96]:
animals = ['dog', 'cat', 'sheep', 'cow', 'mouse', 'monkey']

In [97]:
animals[0:3]

['dog', 'cat', 'sheep']

In [98]:
animals[3]

'cow'

In [99]:
animals[3:]

['cow', 'mouse', 'monkey']

In [102]:
animals[:-1]

['dog', 'cat', 'sheep', 'cow', 'mouse']

In [106]:
animals[3:7:2]

['cow', 'monkey']

In [104]:
animals[::2]

['dog', 'sheep', 'mouse']

In [101]:
animals[::-1]

['monkey', 'mouse', 'cow', 'sheep', 'cat', 'dog']

### Passing by reference vs passing by values

When you set two variables to the same value, the relationship between the two variables can